### Exercise 1B
# Classroom
Statistical Fromulars

In [83]:
import numpy as np
import scipy.stats as sc
import pandas as pd

In [84]:
def pearson_corr(vec_x, vec_y):
    
    n = len(vec_x)
    av_x = sum(vec_x)/n
    av_y = sum(vec_y)/n
    
    upper_sum = 0
    lower_sum_x = 0
    lower_sum_y = 0
    
    for i in range(n):
        upper_sum = upper_sum + ((vec_x[i]-av_x) * (vec_y[i]-av_y))
        lower_sum_x = lower_sum_x + (vec_x[i]-av_x)**2
        lower_sum_y = lower_sum_y + (vec_y[i]-av_y)**2
        
    return upper_sum / (lower_sum_x**0.5 * lower_sum_y**0.5)

In [85]:
vec_x = [1,2,3,4,5,6,7]
vec_y = [10,11,34,12,2,8,7]

print(sc.pearsonr(vec_x, vec_y)[0])
print(pearson_corr(vec_x, vec_y))
theta_1 = sc.linregress(vec_x, vec_y)[0]
theta_0 = sc.linregress(vec_x, vec_y)[1]
print('h = {} * {}x'.format(theta_0, theta_1))

-0.3538739286378901
-0.3538739286378901
h = 18.714285714285715 * -1.6785714285714284x

## Chi Squared

In [86]:
# Create row and colum identifiers for the base dataframe.
columns = ['CDU/CSU','AfD','SPD','Gruene','Linke']
index = ['yes','no','all']

# Fill in the data and add a row for the vertical sum.
row_yes = np.array([312, 218, 231, 151, 111])
row_no = np.array([603, 693, 724, 794, 894])
row_all = row_yes + row_no

# Combine the data into a matrix and finally into the dataframe.
data = [row_yes, row_no, row_all]
df_obs = pd.DataFrame(index=index, columns=columns, data=data)

# Add a column (series) for the horiyontal sum.
df_obs['SumParty'] = pd.Series({'yes':sum(data[0]), 'no':sum(data[1]), 'all':sum(data[2])})
df_obs

     CDU/CSU  AfD  SPD  Gruene  Linke  SumParty
yes      312  218  231     151    111      1023
no       603  693  724     794    894      3708
all      915  911  955     945   1005      4731

In [90]:
# Calculate a table with the expected values.
df_exp = df_obs.copy()
sum_all = df_obs.at['all','SumParty']

for column in columns:
    df_exp.at['yes',column] = df_obs.at['yes','SumParty'] * df_obs.at['all',column] / sum_all
    df_exp.at['no',column] = df_obs.at['no','SumParty'] * df_obs.at['all',column] / sum_all
    
df_exp

     CDU/CSU  AfD  SPD  Gruene  Linke  SumParty
yes      197  196  206     204    217      1023
no       717  714  748     740    787      3708
all      915  911  955     945   1005      4731

In [88]:
def chi_squared(df_obs, df_exp):
    
    chi_squared = 0
    
    for row in df_obs.index[:2]:
        for column in df_obs.columns[:5]:
            h_obs = df_obs.at[row, column]
            h_exp = df_exp.at[row, column]
            h_diff = h_obs - h_exp
            chi_squared = chi_squared + h_diff**2 / h_exp
            
    return chi_squared

In [91]:
print(chi_squared(df_obs, df_exp))

176.1851711085088

**Check functionality** by comparing with the example from the lecture 5 page 22.

In [95]:
obs = np.array([[8,5,13],[42,20,62],[50,25,75]])
exp = np.array([[8.67,4.34,13],[41.34,20.67,62],[50,25,75]])
columns = ['yes','no','sum']
index = ['smoker','nonsmoker','all']
df_obs = pd.DataFrame(index=index, columns=columns, data=obs)
df_exp = pd.DataFrame(index=index, columns=columns, data=exp)

chi2 = chi_squared(df_obs, df_exp)
print('Chi2: {}'.format(chi2))
print('Ok, correct!')

Chi2: 0.18439937858686165
Ok, correct!