In [29]:
import numpy as np
import scipy.stats as sc
import pandas as pd

In [5]:
%run python_library/statfunclib.py

In [7]:
# Create row and colum identifiers for the base dataframe.
columns = ['CDU/CSU','AfD','SPD','Gruene','Linke']
index = ['yes','no']

# Fill in the data and add a row for the vertical sum.
row_yes = np.array([312, 218, 231, 151, 111])
row_no = np.array([603, 693, 724, 794, 894])

# Combine the data into a matrix and finally into the dataframe.
data = [row_yes, row_no]
df_obs = pd.DataFrame(index=index, columns=columns, data=data)

# Add the horizontal and vertical dataframe sums.
df_obs = add_sums_to_dataframe(df_obs)
df_obs

       CDU/CSU  AfD  SPD  Gruene  Linke  h_sum
yes        312  218  231     151    111   1023
no         603  693  724     794    894   3708
v_sum      915  911  955     945   1005   4731

In [8]:
# Calculate the dataframe for the expected values.
df_exp = calculate_expected_dataframe(df_obs)
df_exp

          CDU/CSU         AfD         SPD      Gruene        Linke   h_sum
yes    197.853516  196.988586  206.502853  204.340515   217.314514  1023.0
no     717.146484  714.011414  748.497131  740.659485   787.685486  3708.0
v_sum  915.000000  911.000000  955.000000  945.000000  1005.000000  4731.0

In [9]:
# Finally calculate chi squared.
print(chi_squared(df_obs, df_exp))

174.71537664998036