# Databases 01  
Using **SQLite3** as a database to store **.CSV** tables

In [123]:
pwd

'/Users/matthiastitze/Uni HTW/DataScience/Repositories/datafriends_workshop/clean_data'

In [124]:
# reqired file pathes
path_db = 'datapool_clean.db'
path_csv = '01_data_extract/zip_to_fips_2012_06.csv'
table_name = 'zipcode'

**Create SQLite3 database**

In [125]:
import sqlite3

In [126]:
def create_connection(db_file):
    # Create a database connection to a SQLite database.
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        conn.close()

In [127]:
create_connection(path_db)

2.6.0

**Convert the .CSV data**

In [128]:
# Get acces to the database.
from sqlalchemy import create_engine
engine = create_engine('sqlite:///' + path_db)

In [129]:
import pandas as pd

In [130]:
df = pd.read_csv(path_csv)
df[:3]

     zip          county state  fips
0  36003  Autauga County    AL  1001
1  36006  Autauga County    AL  1001
2  36008  Autauga County    AL  1001

In [131]:
df.to_sql(table_name, engine, index=True, if_exists='replace')

In [133]:
pd.read_sql(table_name, engine)[:10]

   index    zip          county state  fips
0      0  36003  Autauga County    AL  1001
1      1  36006  Autauga County    AL  1001
2      2  36008  Autauga County    AL  1001
3      3  36022  Autauga County    AL  1001
4      4  36051  Autauga County    AL  1001
5      5  36066  Autauga County    AL  1001
6      6  36067  Autauga County    AL  1001
7      7  36068  Autauga County    AL  1001
8      8  36091  Autauga County    AL  1001
9      9  36703  Autauga County    AL  1001

In [138]:
pd.read_sql_query('SELECT * FROM zipcode WHERE fips=1005', engine)

   index    zip          county state  fips
0     39  36016  Barbour County    AL  1005
1     40  36017  Barbour County    AL  1005
2     41  36027  Barbour County    AL  1005
3     42  36048  Barbour County    AL  1005
4     43  36053  Barbour County    AL  1005
5     44  36311  Barbour County    AL  1005
6     45  36317  Barbour County    AL  1005
7     46  36374  Barbour County    AL  1005